@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-1 text-light-2 font-primary;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}