@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  @apply bg-dark-1 text-light-2 font-primary;
}

::selection {
  @apply bg-primary text-light-1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

.transitions {
  transition: color 200ms, background 200ms, border 200ms, box-shadow 200ms, transform 200ms;
}

.loading {
  animation: loading 1s ease-in-out infinite;
}

.hover\:up:hover {
  transform: translateY(-6px);
}

.border-box {
  box-sizing: border-box;
}

.content-box {
  box-sizing: content-box;
}